## Add R200c, M500c to the halo profiles. 

Acts on the finalized files.

In [1]:
## testing multidark
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import kde
import h5py
import astropy.io.fits as fits
import csv
import pandas as pd
import h5py
import tables
import pickle5 as pickle
import os
from astropy.table import Table
from astropy.coordinates import SkyCoord
from tqdm import tqdm
from astropy.io import ascii
import pickle
import os
from glob import glob
import scipy

In [2]:
from timeit import default_timer as timer

In [4]:
ptcl_dir = '/global/cscratch1/sd/zzhang13/MultiDark/MDPL2_particles/z0p03/'
deltasigma_dir = '/global/homes/z/zzhang13/BaryonPasting/CorrelatedStructures/multiDark/data/'

In [5]:
clusters_z0p00_file = '/global/cscratch1/sd/zzhang13/MultiDark/MDPL2_ROCKSTAR_Halos/z0p00/' + 'MDPL2_halos_DS_Ngal_Dgal_lt_2_allM_mah_z0p00.p'
clusters_z0p49_file = '/global/cscratch1/sd/zzhang13/MultiDark/MDPL2_ROCKSTAR_Halos/z0p49/' + 'MDPL2_halos_DS_Ngal_Dgal_lt_2_allM_mah_z0p49.p'
clusters_z1p03_file = '/global/cscratch1/sd/zzhang13/MultiDark/MDPL2_ROCKSTAR_Halos/z1p03/' + 'MDPL2_halos_DS_Ngal_Dgal_lt_2_allM_mah_z1p03.p'

clusters_files = [clusters_z0p00_file, clusters_z0p49_file, clusters_z1p03_file]

##  Import files

In [6]:
with open(clusters_z0p00_file, 'rb') as handle:
    matched_halo_df = pickle.load(handle)

In [7]:
matched_halo_df = pd.DataFrame(columns=matched_halo_df.columns) ##empty DF

In [8]:
matched_halo_df

Empty DataFrame
Columns: [scale, id, pid, mvir, rvir, x, y, z, M200b, M200c, M500c, Type, GalaxyIndex, CentralGalaxyIndex, CtreesHaloID, CtreesCentralID, CentralMvir, StellarMass, Ngal, cluster_id, sigma, r_range, delta_sigma, rs, T/|U|, Halfmass_Scale, Acc_Rate_Inst, Acc_Rate_100Myr, Acc_Rate_1*Tdyn, Acc_Rate_2*Tdyn, Acc_Rate_Mpeak, c_vir]
Index: []

[0 rows x 32 columns]

In [9]:
for file in iter(clusters_files):
    with open(file,'rb') as handle:
        cur_df = pickle.load(handle)
    matched_halo_df = matched_halo_df.append(cur_df, ignore_index=True)

In [10]:
matched_halo_df.groupby('scale').mean()

,mvir,rvir,x,y,z,CentralMvir,StellarMass,Ngal,rs,T/|U|,Halfmass_Scale,Acc_Rate_Inst,Acc_Rate_100Myr,Acc_Rate_1*Tdyn,Acc_Rate_2*Tdyn,Acc_Rate_Mpeak,c_vir,Mmvir_all
scale,,,,,,,,,,,,,,,,,,
0.4922,1.024424e+14,1107.860760,637.297195,369.528321,504.154151,9.539071e+13,1.480425e+11,77.019499,296.874831,0.708872,0.382598,30636.496058,30636.496058,31192.426741,30846.708914,31359.380223,4.222388,1.026076e+14
0.6712,1.614951e+14,1200.186226,242.059814,582.849578,486.953972,1.435792e+14,1.512220e+11,96.681333,293.570810,0.694499,0.488354,29366.655967,29366.655967,29564.152260,28431.584600,28399.903067,4.791885,1.618252e+14
1.0000,3.085148e+14,1279.278585,306.319320,671.824071,509.171483,2.485489e+14,1.940698e+11,133.312571,269.347452,0.658473,0.651673,25891.225377,25891.225377,27820.118000,29155.635539,29985.539120,5.620467,NaN

In [ ]:
matched_halo_df['']